<!DOCTYPE html>
<html lang="en">
  <body>
    <a href="/sightings/add">ADD Squirrel Data</a>
    <br>
    <a href="/sightings/stats">Squirrel Statistics</a>
    <table border=1 bgcolor="#f1d2e1" width=2800>
      <tr>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Unique Squirrel ID</th>
        <th>Shift</th>
        <th>Date</th>
        <th>Age</th>
        <th>Primary Fur Color</th>
        <th>Location</th>
        <th>Specific Location</th>
        <th>Running</th>
        <th>Chasing</th>
        <th>Climbing</th>
        <th>Eating</th>
        <th>Foraging</th>
        <th>Other activities</th>
        <th>Kuks</th>
        <th>Quaas</th>
        <th>Moans</th>
        <th>Tail flags</th>
        <th>Tail twitches</th>
        <th>Approaches</th>
        <th>Indifferent</th>
        <th>Runs from</th>
      </tr>
      {% for sighting in sightings %}
      <tr>
        <td>{{sighting.latitude}}</td>
        <td>{{sighting.longitude}}</td>
        <td><a href="/sightings/{{sighting.unique_squirrel_id}}">{{sighting.unique_squirrel_id}}</a></td>
        <td>{{sighting.shift}}</td>
        <td>{{sighting.date}}</td>
        <td>{{sighting.age}}</td>
        <td>{{sighting.primary_fur_color}}</td>
        <td>{{sighting.location}}</td>
        <td>{{sighting.specific_location}}</td>
        <td>{{sighting.running}}</td>
        <td>{{sighting.chasing}}</td>
        <td>{{sighting.climbing}}</td>
        <td>{{sighting.eating}}</td>
        <td>{{sighting.foraging}}</td>
        <td>{{sighting.other_activities}}</td>
        <td>{{sighting.kuks}}</td>
        <td>{{sighting.quaas}}</td>
        <td>{{sighting.moans}}</td>
        <td>{{sighting.tail_flags}}</td>
        <td>{{sighting.tail_twitches}}</td>
        <td>{{sighting.approaches}}</td>
        <td>{{sighting.indifferent}}</td>
        <td>{{sighting.runs_from}}</td>
        <td><a href="/sightings/{{sighting.unique_squirrel_id}}/delete/">delete</a></td>
      </tr>
      {% endfor %}


    </table>
 
  </body>
</html>
